<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    <% var marginAfterFlash = 'mt-1 mb-4' %>
        <% var marginBeforeFlash = 'mt-5 mb-4' %>

            <body class="bg-info d-flex flex-column vh-100">

                <%- include('../partials/navbar') %>

                    <div class="container bg-white">
                        <div class="row mx-3 my-0">

                            <div class="col-12 mt-4 mb-1">
                                <!-- flash messages -->
                                <%- include('../partials/flash') %>
                            </div>


                            <div class="col-12 <%- success && success.length || error && error.length ? marginAfterFlash  : marginBeforeFlash %> ">
                                <h1>
                                    <%= title %>
                                </h1>
                            </div>


                            <!-- main content -->
                            <%- body %>

                        </div>
                    </div>
                    <%- include('../partials/footer') %>

            </body>

</html>