<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    <% var marginAfterFlash = 'mt-1 mb-4' %>
        <% var marginBeforeFlash = 'mt-5 mb-4' %>

            <body class="bg-gray-3 d-flex flex-column vh-100">

                <%- include('../partials/navbar') %>


                    <div class="container bg-white p-0">
                        <div class="p-0 campgroundIndexMap" id="map"></div>

                        <div class="row px-5 ">
                            <div class="col-12 mt-4 mb-1 ">
                                <!-- flash messages -->
                                <%- include('../partials/flash') %>
                            </div>


                            <!-- main content -->
                            <%- body %>

                        </div>
                    </div>
                    <%- include('../partials/footer') %>

            </body>

</html>