<!DOCTYPE html>
<html lang="en">
<%- include('../components/head') %>

    <body>
        <%- include('../components/navbar') %>
            <div class="container mt-5">
                <h1 class="text-center mb-4">Edit Form</h1>

                User:
                <b>
                    <%=  c.username %>
                </b>

                <form action="/comments/<%= c.id %>?_method=PATCH  " method="POST">
                    <div class="form-group">
                        <label for="comment">
                            <b>comment:</b> 
                        </label>
                        <textarea name="comment" class="form-control" rows="5" id="comment"><%= c.comment %></textarea>
                    </div>
                    <button class="btn btn-primary mt-3">Submit</button>
                    <a href="/comments" class="btn btn-outline-danger mt-3">Cancel</a>

                </form>


            </div>
    </body>

</html>