<!DOCTYPE html>
<html lang="en">
<%- include('../components/head') %>

    <body>
        <%- include('../components/navbar') %>

            <div class="container mt-5">

                <div class="border border-danger rounded-lg p-3">

                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <h1>
                                <%= oneProduct.name %>
                            </h1>

                            <h3>
                                <%= oneProduct.price %>
                            </h3>
                            <p>
                                <%= oneProduct.category %>
                                    <%= oneProduct.id %>
                            </p>
                            <h4>comments:</h4>
                            <ul>
                                <% for( let c of oneProduct.comments ) { %>
                                    <li>
                                        <p>
                                            <%= c %>
                                        </p>
                                    </li>
                                    <% } %>

                            </ul>

                        </div>
                        <div class="col-12 col-lg-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="360" height="360" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                              </svg>
                        </div>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-sm btn-outline-dark m-1" href="/products">
                            Products overview
                        </a>

                        <!-- <a class="btn btn-sm btn-outline-dark m-1" href="/products/<%= oneProduct.id %>/new/comment ">
                            add new Comments
                        </a> -->

                        <a class="btn btn-sm btn-outline-warning m-1" href="/products/<%= oneProduct.id %>/edit ">
                            Edit product
                       </a>

                        <form id="dltPost" class="d-inline" action="/products/<%= oneProduct.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-outline-danger m-1">Delete Product</button>
                        </form>
                    </div>


                </div>

            </div>

    </body>

</html>