<% layout('layouts/boilerplate') %>

    <div class="col-12">
        <a href="/campgrounds" class="btn btn-sm btn-dark rounded-pill text-white py-1 px-3">
            <b class="p-0 my-1">
            Back to Overview
        </b>
        </a>

        <div class="row my-5">
            <div class="col-md-8 col-lg-6">
                <div class="card bg-gray-1 border-0">
                    <img class="card-img-top img-fit-content" src="<%= camp.image %>" alt="<%= camp.title %> image ">

                    <div class="card-body">
                        <h5 class="card-title">
                            <%= camp.title %>
                        </h5>
                        <p class="card-text">
                            <%= camp.description %>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted bg-gray-2"> location:
                            <%= camp.location %>
                        </li>
                        <li class="list-group-item bg-gray-2"> Price:
                            <%= camp.price %>€/night
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="/campgrounds/<%= camp.id %>/edit " class="btn btn-sm btn-info text-white rounded-pill">
                            Edit Post
                        </a>
                        <form class="d-inline float-right" action="/campgrounds/<%= camp.id %>?_method=DELETE" method="post">
                            <button class="btn btn-sm btn-danger rounded-pill text-white text-right">
                                Delete Post
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-6">
                <form action="/campgrounds/<%= camp.id %>/reviews " method="post" novalidate class="needs-validation bg-gray-1 p-3 rounded">

                    <h2 class="form-text">Leave a review</h2>
                    <div class="form-group">
                        <label for="rating">Rating:</label>
                        <input type="range" value="0" name="review[rating]" class="form-control-range" id="rating" min="1" max="5">
                    </div>
                    <div class="mb-3">
                        <label for="review">Review</label>
                        <textarea class="form-control" cols="30" rows="3" name="review[body]" id="review" placeholder="add your review" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please fill this section with some text
                        </div>

                    </div>


                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                          </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>

                    <div class="mb-1">
                        <button class="btn btn-success rounded-pill">send</button>
                    </div>
                </form>
                <h3 class="my-3">Other reviews</h3>
                <% for( let review of camp.reviews ) { %>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title"> Rating:
                                <%= review.rating %>
                            </h5>
                            <p class="card-text">
                                <%= review.body %>
                            </p>
                            <form action="/campgrounds/<%= camp.id %>/reviews/<%= review.id %>?_method=DELETE" method="post">
                                <button class="btn btn-sm btn-danger rounded-pill">Delete review</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
            </div>

        </div>
    </div>